body {
    background-color: rgb(36, 36, 36);
}

#message-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

#message {
    flex-grow: 1;
    border: none;
}

#chat-container {
    color: white;
    margin-bottom: 2rem;
}